node_modules
**/node_modules
.env
.env.*
!**/.env.example
.DS_Store
*.log
*.tsbuildinfo
.next
.expo
.expo-shared
android
ios
coverage
.turbo
pnpm-debug.log
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/.idea
apps/mobile/.vscode
apps/web/.next
